* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.menu_background {
  height: 48px;
  background-color: #f5f5f7cc;
}
.header-flex {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  gap: 24px;
}
.menus {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.menus-text {
  font-size: 14px;
  font-family: "Inter", sans-serif;
}
.end {
  display: flex;
  justify-content: end;
}
.flex {
  display: flex;
}
body {
  background-color: #f5f5f7;
}
.gap-24 {
  gap: 24px;
}
.gap-200 {
  gap: 1000px;
  display: flex;
  justify-content: center;
}
/* ====================================================== */
.menu-down {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  text-align: center;
  background-color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
}
.solongo-background {
  background-image: url("./images/Background.svg");
  background-position: center;
  background-size: cover;
  height: 75px;
  width: 1920px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.solongo {
  background-image: linear-gradient(to right, #019ffb, #f55be4, #fd8c1f);
  background-clip: text;
  color: transparent;
  font-weight: 700;
  text-align: center;
  font-family: "Inter", sans-serif;
  width: fit-content;
  /* box-shadow: inset 11px 11px 20px #bebebe, inset -11px -11px 20px #ffffff; */
}
.font-44 {
  font-size: 44px;
}
.font-22 {
  font-size: 22px;
}
.gift__magic {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 44px;
  line-height: 52.01px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #6e6e73;
}
.tseej-box {
  width: 226px;
  height: 100px;
  /* border: 1px solid red; */
}
.asuult {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  vertical-align: middle;
}
.link {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #0066cc;
}
.head_container {
}
/* scale: 1.1; */
/* box-shadow:  5px 5px 10px #cacaca,
             -5px -5px 10px #f6f6f6; */

.pruduct_summary img{
width: 120px;
height: 78px;
}

.pruduct_summary p{
  font-family: "Inter", sans-serif;
font-weight: 700px;
font-size: 14px;
line-height: 20px;
letter-spacing: 0px;
text-align: center;
vertical-align: middle;

}

.pruduct_summary {
    display: flex; 
    justify-content: center; 
    margin: 0 auto;
    width: 100%;
     padding: 20px 0; 
     gap: 32px;
    background-color: rgba(245, 245, 247, 1);
    /* border: 1px solid red; */
}
.pruduct_summary_items {
    text-align: center;
    /* border: 1px solid red; */
    cursor: pointer;
}

.pruduct_card
{
  flex: 0 0 350px;
  scroll-snap-align: start;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 18px;
  width: 480px;
height: 500px;
overflow: hidden; 
    position: relative; 
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.3s ease-out;

}
.product-img
{
  max-width: 100%; 
      height: auto; 
    transition: transform 0.3s ease-out; 
    position: absolute; 
    bottom: -50px;
}
.info-area {
    position: relative;
    z-index: 10;
    text-align: left;
    margin-bottom: 20px;
}
.tagline{
  color: rgba(182, 68, 0, 1);
font-family: "Inter", sans-serif;
font-size: 12px;
    font-weight: 600px;
}
.h2 {
font-family: "Inter",sans-serif;
font-weight: 700px;
font-size: 26px;
}
.price-info
{
  font-family: "Inter", sans-serif;
font-weight: 400px;
font-size: 18px;
}
.product-card-container {
  border: 1px solid red;
  display: flex; 
  justify-content: center;
  width: 1640px;
  height: 500px;
    
    
    overflow-x: hidden;
    overflow-y: hidden; 
    white-space: nowrap; 
    scroll-behavior: smooth;
    
    
    padding: 40px;
    background-color: #f5f5f7; 
    gap: 20px;
    scroll-snap-type: x mandatory; 
}

/* Scroll bar-ийг нуух (Хэрэглэгчийн туршлагыг сайжруулах) */
/* Chrome, Safari, Opera-д */
/* .product-grid-container::-webkit-scrollbar {
    display: none;
} */
/* Internet Explorer and Edge-д */
/* .product-grid-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
} */
