* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.menu_background {
  height: 48px;
  background-color: #f5f5f7cc;
}
.header-flex {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  gap: 24px;
}
.menus {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}
.menus-text {
  font-size: 14px;
  font-family: "Inter", sans-serif;
}
.end {
  display: flex;
  justify-content: end;
}
.flex {
  display: flex;
}
body {
  background-color: #f5f5f7;
}

/* ====================================================== */
.menu-down {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  text-align: center;
  background-color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
}
.solongo-background {
  background-image: url("./images/Background.svg");
  background-position: center;
  background-size: cover;
  height: 75px;
  width: 1920px;
}
.solongo {
  background-image: linear-gradient(to right, #019ffb, #f55be4, #fd8c1f);
  background-clip: text;
  color: transparent;
  font-weight: 700;
  text-align: center;
  font-family: "Inter", sans-serif;
  width: fit-content;
  box-shadow: inset 11px 11px 20px #bebebe, inset -11px -11px 20px #ffffff;
}
.font-44 {
  font-size: 44px;
}
.font-22 {
  font-size: 22px;
}

/* scale: 1.1; */
/* box-shadow:  5px 5px 10px #cacaca,
             -5px -5px 10px #f6f6f6; */
