@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* =================================== */
/* Эндээс эхний хэсэг эхлэж байна */
/* =================================== */

.menu_background {
  width: 100%;
  height: 48px;
  background-color: #f5f5f7cc;
}
.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1920px;
}
.margin-auto {
  margin: 0 auto;
}
.header-text {
  font: inter;
  font-size: 14px;
  /* letter-spacing: 0px; */
  display: flex;
  align-items: center;
  align-content: center;
}
.menus {
  display: none;
}
.end {
  display: flex;
  justify-content: end;
}
.menu-down {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inter;
  font-size: 20px;
  height: 44px;
  width: 444px;
  background-color: #ffffff;
}
/* =================================== */
/* Эндээс 768px ээс дээш хэсэг эхлэж байна */
/* =================================== */
@media screen and (min-width: 768px) {
  .menu_background {
    /* width: 1920px; */
    width: 100%;
    height: 48px;
    background-color: #f5f5f7cc;
  }
}
.menus-text {
  font-size: 12px;
  font-family: Inter;
}
/* =================================== */
/* Эндээс 768px ээс дээш хэсэг эхлэж байна */
/* =================================== */
@media screen and (min-width: 940px) {
  .menus {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
  }
}
