@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ============================================
          Header
=============================================== */
body {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menu_background {
  height: 48px;
  background-color: #f5f5f7cc;
}
.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menus-text {
  font-size: 12px;
  font-family: Inter;
}
.menus {
  display: none;
}
.end {
  display: flex;
  justify-content: end;
}
.flex {
  display: flex;
}

/* ====================================================== */
.menu-down {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  text-align: center;

  background-color: #ffffff;
}
/* ================================================================= */
/* ================================================================= */
.iphone17 {
  height: 500px;
  background-size: cover;
  background-image: url("./images/iphone17.jpg");
  background-position: center;
}
.iphone17-text1 {
  display: flex;
  justify-content: center;
  margin-top: 300px;
  font-family: inter;
  font-size: 30px;
  color: white;
  font-family: "Inter", sans-serif;
}
.iphone17-text2 {
  font-family: "Inter", sans-serif;
  color: #f5f5f7;
  font-size: 18px;
  text-align: center;
  margin-top: 4px;
}
.learn-more {
  background-color: #0071e3;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  /* width: 107px; */
  height: 36px;
  border-radius: 999px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gap-12 {
  gap: 12px;
}
.iphon17-box {
  /* width: 241px; */
  height: 114px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}
.text-box h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 30px;
  color: #f5f5f7;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
}
.text-box p {
  font-family: "Inter";
  font-weight: 400;
  color: #f5f5f7;
  font-size: 18px;

  line-height: 120%;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
}
.text-box {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
button {
  border-radius: 999px;
  padding: 8px 16px;
  background-color: #0071e3;
  color: white;
  border: none;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-bottom: 36px;
}
.gol {
  display: flex;
  justify-content: center;
  align-items: end;
}
.btn-box {
  display: flex;
  gap: 12px;
}
/* =================================================== */
/* iphone-blue */
/* =================================================== */
.iphone-blue {
  height: 500px;
  background-size: cover;
  background-image: url("./images/iphone-blue.jpg");
  background-position: center;
}
.box-blue {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-top: 36px;
}
.button {
  border-radius: 999px;
  padding: 8px 16px;
  background-color: #ffffff;
  color: black;
  border: none;
  height: 36px;
  font-family: "Inter", sans-serif;
}
.buy-white {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  width: 66px;
  height: 36px;
  border-radius: 999px;
  padding: 8px 20px;
  font-family: "Inter", sans-serif;
}
.gol-blue {
  display: flex;
  justify-content: center;
  align-items: start;
}
/* =================================================================== */
/* =================================================================== */
.guraw {
  /* border: 1px solid red; */
  height: 144px;
  top: 36px;
}
.responsive-wrapper {
  display: block;
}
.ipad-air {
  background-image: url("./images/ipad-air.jpg");
  width: 100%;
  height: 580px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.learn-button {
  height: 36px;
  border-radius: 999px;
  padding: 8px 16px;
  background-color: #0071e3;
  color: white;
  font-family: "Inter", sans-serif;
}
.buy-end {
  background-color: transparent;
  border: 1px solid #0071e3;
  color: #0071e3;
  width: 66px;
  height: 36px;
  border-radius: 999px;
  padding: 8px 20px;
  font-family: "Inter", sans-serif;
}
.two-sizes {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
}
.box-ipad {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 36px;
  gap: 12px;
}
.ipad-icon {
  width: 180px;
  height: 42px;
}
.solongo {
  background-image: linear-gradient(to right, #019ffb, #f55be4, #fd8c1f);
  background-clip: text;
  color: transparent;
  font-weight: 500;
  margin-top: 286px;
  text-align: center;
}

/* <!-- =============================================== -->
                          <!-- apple-gift -->
    <!-- ============================================== --> */
.apple-gift-none {
  display: none;
  background-image: url("./images/apple-gift.jpg");
  background-position: center;
  background-size: cover;
  height: 692px;
}
.apple-box {
  /* border: 1px solid red; */
  justify-content: end;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding-bottom: 82px;
}
.apple-h1 {
  /* height: 164px; */
  font-family: "Inter", sans-serif;
  font-size: 52px;
  text-align: center;
}
.apple__p {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  text-align: center;
}
.apple__button {
  width: 114px;
  height: 44px;
  gap: 10px;
  border-radius: 999px;
  /* padding: 12px 20px; */
  background-color: #0071e3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* <!-- =========================================
                iPod
    ============================================= --> */
.ipod__background {
  background-image: url("./images/airPod-iphone.jpg");
  background-size: cover;
  background-position: center;
  height: 490px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.ipod__box {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 240px;
}
.ipod_h1 {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  text-align: center;
  color: white;
}
.ipod_p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  text-align: center;
  color: white;
  margin-bottom: 20px;
}
/* <!-- ========================================
              watch
  ==============================================--> */
.watch_background {
  background-image: url("./images/watch-background.jpg");
  background-position: center;
  background-size: cover;
  height: 490px;
  display: flex;
  justify-content: center;
  gap: 12px;
}
.watch_box {
  width: 295px;
  height: 135px;
  /* border: 1px solid red; */
  margin-top: 46px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.watch_icon {
  width: 152px;
  height: 34px;
}
.watch_p {
  font-family: "Inter", sans-serif;
  font-style: Bold;
  font-size: 13px;
  text-align: center;
}
.watch_pp {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
}
.watch-background-box-h1 {
  font-family: "Inter", sans-serif;
  font-size: 28px;
  text-align: center;
}
/* <!-- =================================
                      grid
    ===================================== --> */
.airPod-web-none {
  display: none;
}
.airPod-web-box {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 200px;
  margin-top: 360px;
}
.airPod-web-box-h1 {
  font-family: "Inter", sans-serif;
  font-size: 36px;
  text-align: center;
  color: white;
  margin-bottom: 10px;
}
.airPod-web-box-p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  text-align: center;
  color: white;
  margin-bottom: 25px;
}
/* =======================================
            macbook-air
========================================== */
.macbook-background {
  background-image: url("./images/macbook.jpg");
  background-position: center;
  background-size: cover;
  height: 490px;
  gap: 12px;
  display: flex;
  justify-content: center;
}
.macbook-background-box {
  width: 257px;
  height: 115px;
  /* border: 1px solid red; */
  margin-top: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.macbook-background-box-h1 {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  text-align: center;
}
.macbook-background-box-p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
}
/* ========================================
          small-bizness-background
=========================================== */
.small-bizness-background {
  background-image: url("./images/small-bizness.png");
  background-position: center;
  background-size: cover;
  height: 490px;
  gap: 12px;
  display: flex;
  justify-content: center;
}
.small-bizness-box {
  width: 257px;
  height: 180px;
  /* border: 1px solid red; */
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.small-bizness-box-h1 {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  text-align: center;
}
.small-bizness-box-p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
}
/* ==================================
          carrier-background
===================================== */
.carrier-background {
  background-image: url("./images/carrier-background.jpg");
  background-position: center;
  background-size: cover;
  height: 490px;
  gap: 12px;
  display: flex;
  justify-content: center;
}
.carrier-background-box {
  width: 257px;
  height: 180px;
  /* border: 1px solid red; */
  margin-top: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.carrier-background-box-h1 {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  text-align: center;
}
.carrier-background-box-p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
}
.find-your-deal {
  height: 36px;
  border-radius: 999px;
  padding: 8px 16px;
  background-color: #0071e3;
  color: white;
  font-family: "Inter", sans-serif;
}
/* ===============================
          trade-background
================================== */
.trade-background {
  background-image: url("./images/trade-background.jpg");
  background-position: center;
  background-size: cover;
  height: 490px;
  gap: 12px;
  display: flex;
  justify-content: center;
}
.trade-background-box {
  width: 457px;
  height: 200px;
  /* border: 1px solid red; */
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.trade-background-box-h1 {
  font-family: "Inter", sans-serif;
  font-size: 28px;
  text-align: center;
}
.trade-background-box-p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
}
.get-your-estimate {
  height: 36px;
  border-radius: 999px;
  padding: 8px 16px;
  background-color: #0071e3;
  color: white;
  font-family: "Inter", sans-serif;
}
.apple-img {
  font-size: 30px;
}
/* ======================================
          watch-horizontal
========================================= */
.watch-horizontal {
  display: none;
  background-image: url("./images/watch-horizontal.jpg");
  background-position: center;
  background-size: cover;
  height: 580px;
  justify-content: center;
  gap: 12px;
}
.watch_box-horizontal {
  height: 135px;
  /* border: 1px solid red; */
  margin-top: 46px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* ======================================
        Scroll-iPhone-zurag
========================================= */
.scroll-iPhone-zurag {
  display: flex;
  width: 100%;
  height: 496px;
  /* border: 2px solid red; */
  gap: 12px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.scroll-iPhone-zurag1 {
  background-image: url("./images/1.jpg");
  background-position: center;
  background-size: cover;
  min-width: 274px;
  height: 495px;
  scroll-snap-align: center;
}
.scroll-iPhone-zurag2 {
  background-image: url("./images/2.jpg");
  background-position: center;
  background-size: cover;
  min-width: 274px;
  height: 495px;
  scroll-snap-align: center;
}
.scroll-iPhone-zurag3 {
  background-image: url("./images/3.jpg");
  background-position: center;
  background-size: cover;
  min-width: 274px;
  height: 495px;
  scroll-snap-align: center;
}
.scroll-iPhone-zurag4 {
  background-image: url("./images/4.jpg");
  background-position: center;
  background-size: cover;
  min-width: 274px;
  height: 495px;
  scroll-snap-align: center;
}
.scroll-iPhone-zurag5 {
  background-image: url("./images/5.jpg");
  background-position: center;
  background-size: cover;
  min-width: 274px;
  height: 495px;
  scroll-snap-align: center;
}
.scroll-iPhone-zurag6 {
  background-image: url("./images/6.jpg");
  background-position: center;
  background-size: cover;
  min-width: 274px;
  height: 495px;
  scroll-snap-align: center;
}
.scroll-iPhone-zurag7 {
  background-image: url("./images/7.jpg");
  background-position: center;
  background-size: cover;
  min-width: 274px;
  height: 495px;
  scroll-snap-align: center;
}
.scroll-iPhone-zurag8 {
  background-image: url("./images/8.jpg");
  background-position: center;
  background-size: cover;
  min-width: 274px;
  height: 495px;
  scroll-snap-align: center;
}
.indicator-iPhone {
  display: flex;
  justify-content: center;
  gap: 12px;
}
a {
  width: 8px;
  height: 8px;
  background-color: #0000006b;
  border-radius: 100%;
}
/* ======================================
        Scroll-tablet-zurag
========================================= */
.scroll-tablet-zurag {
  /* display: flex; */
  display: none;
  width: 100%;
  height: 368px;
  /* border: 2px solid red; */
  gap: 12px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.scroll-tablet-zurag1 {
  background-image: url("./images/11.jpg");
  background-position: center;
  background-size: cover;
  min-width: 689px;
  height: 368px;
  scroll-snap-align: center;
}
.scroll-tablet-zurag2 {
  background-image: url("./images/22.jpg");
  background-position: center;
  background-size: cover;
  min-width: 689px;
  height: 368px;
  scroll-snap-align: center;
}
.scroll-tablet-zurag3 {
  background-image: url("./images/33.jpg");
  background-position: center;
  background-size: cover;
  min-width: 689px;
  height: 368px;
  scroll-snap-align: center;
}
.scroll-tablet-zurag4 {
  background-image: url("./images/44.jpg");
  background-position: center;
  background-size: cover;
  min-width: 689px;
  height: 368px;
  scroll-snap-align: center;
}
.scroll-tablet-zurag5 {
  background-image: url("./images/55.jpg");
  background-position: center;
  background-size: cover;
  min-width: 689px;
  height: 368px;
  scroll-snap-align: center;
}
.scroll-tablet-zurag6 {
  background-image: url("./images/66.jpg");
  background-position: center;
  background-size: cover;
  min-width: 689px;
  height: 368px;
  scroll-snap-align: center;
}
.scroll-tablet-zurag7 {
  background-image: url("./images/77.jpg");
  background-position: center;
  background-size: cover;
  min-width: 689px;
  height: 368px;
  scroll-snap-align: center;
}
.scroll-tablet-zurag8 {
  background-image: url("./images/88.jpg");
  background-position: center;
  background-size: cover;
  min-width: 689px;
  height: 368px;
  scroll-snap-align: center;
}
.scroll-tablet-zurag9 {
  background-image: url("./images/99.jpg");
  background-position: center;
  background-size: cover;
  min-width: 689px;
  height: 368px;
  scroll-snap-align: center;
}
.indicator-tablet {
  display: none;
  gap: 12px;
}
/* ======================================
        Scroll-Desktop-zurag
========================================= */
.scroll-desktop-zurag {
  /* display: flex; */
  display: none;
  width: 100%;
  height: 668px;
  /* border: 2px solid red; */
  gap: 12px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.scroll-desktop-zurag1 {
  background-image: url("./images/111.jpg");
  background-position: center;
  background-size: cover;
  min-width: 1250px;
  height: 668px;
  scroll-snap-align: center;
}
.scroll-desktop-zurag2 {
  background-image: url("./images/222.jpg");
  background-position: center;
  background-size: cover;
  min-width: 1250px;
  height: 668px;
  scroll-snap-align: center;
}
.scroll-desktop-zurag3 {
  background-image: url("./images/333.jpg");
  background-position: center;
  background-size: cover;
  min-width: 1250px;
  height: 668px;
  scroll-snap-align: center;
}
.indicator-desktop {
  display: none;
  gap: 12px;
}
/* =================================== */
/* Эндээс 768px болон түүнээс дээш хэсэг эхлэж байна */
/* =================================== */
@media screen and (min-width: 768px) {
  .menu_background {
    width: 100%;
    height: 48px;
    background-color: #f5f5f7cc;
  }
  .gol {
    align-items: start;
  }
  .box {
    margin-top: 58px;
  }
  .iphone17 {
    background-image: url(./images/horizontal-iphone16.png);
  }
  .iphone-blue {
    background-image: url(./images/horizontal-iphoneBlue.jpg);
  }
  .ipad-air {
    background-image: url(./images/ipad-ipad.jpg);
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }
  .scroll-iPhone-zurag {
    display: none;
  }
  .indicator-iPhone {
    display: none;
  }
  .scroll-tablet-zurag {
    display: flex;
  }
  .indicator-tablet {
    display: flex;
    justify-content: center;
  }
}
/* =================================== */
/* Эндээс 992px болон түүнээс дээш хэсэг эхлэж байна */
/* =================================== */
@media screen and (min-width: 992px) {
  .header-flex {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
  }
  .menus {
    display: block;
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
  }
  .menu-icon {
    display: none;
  }
  .apple-gift-none {
    display: block;
  }
  .responsive-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }
  .ipad-air {
    flex: 50%;
    width: auto;
  }
  .airPod-web-none {
    display: flex;
    flex: 50%;
    background-image: url("./images/airPod-web.jpg");
    height: 580px;
    background-position: center;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .airPod-web-box {
    display: flex;
  }
  .ipad-air {
    flex: 50%;
    width: auto;
  }
  .airPod-web-box {
    display: block;
    flex: 50%;
  }
  /* .watch-horizontal {
    display: block;
  } */
  .ipod__background {
    display: none;
  }
  .watch_background {
    display: none;
  }
  .scroll-iPhone-zurag {
    display: none;
  }
  .indicator-iPhone {
    display: none;
  }
  .scroll-tablet-zurag {
    display: none;
  }
  .scroll-tablet-zurag {
    display: none;
  }
  .indicator-tablet {
    display: none;
  }
  .scroll-desktop-zurag {
    display: flex;
  }
  .indicator-desktop {
    display: flex;
    justify-content: center;
  }
}
