@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* =================================== */
/* Эндээс эхний хэсэг эхлэж байна */
/* =================================== */
body {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menu_background {
  height: 48px;
  background-color: #f5f5f7cc;
}
.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menus-text {
  font-size: 12px;
  font-family: Inter;
}
.menus {
  display: none;
}
.end {
  display: flex;
  justify-content: end;
}
.flex {
  display: flex;
}

/* =================================== */
/* Эндээс 768px ээс дээш хэсэг эхлэж байна */
/* =================================== */
@media screen and (min-width: 768px) {
  .menu_background {
    width: 100%;
    height: 48px;
    background-color: #f5f5f7cc;
  }
}

/* =================================== */
/* Эндээс 768px ээс дээш хэсэг эхлэж байна */
/* =================================== */
@media screen and (min-width: 940px) {
  .header-flex {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
  }
  .menus {
    display: block;
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
  }
  .menu-icon {
    display: none;
  }
}
/* ====================================================== */
.menu-down {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  text-align: center;

  background-color: #ffffff;
}
/* <!-- ================================================ -->
=====================================================================================================================================
=====================================================================================================================================

    <!-- Эндээс хоёрдах хэсэг эхлэж байна -->
    <!-- ================================================ --> */

.iphone17 {
  height: 500px;
  background-size: cover;
  background-image: url("./images/iphone17.jpg");
  background-position: center;
}
.iphone17-text1 {
  display: flex;
  justify-content: center;
  margin-top: 300px;
  font-family: inter;
  font-size: 30px;
  color: white;
  font-family: "Inter", sans-serif;
}
.iphone17-text2 {
  font-family: "Inter", sans-serif;
  color: #f5f5f7;
  font-size: 18px;
  text-align: center;
  margin-top: 4px;
}
.learn-more {
  background-color: #0071e3;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  /* width: 107px; */
  height: 36px;
  border-radius: 999px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gap-12 {
  gap: 12px;
}

.iphon17-box {
  /* width: 241px; */
  height: 114px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}
.text-box h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 30px;
  color: #f5f5f7;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
}
.text-box p {
  font-family: "Inter";
  font-weight: 400;
  color: #f5f5f7;
  font-size: 18px;

  line-height: 120%;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
}
.text-box {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
button {
  border-radius: 999px;
  padding: 8px 16px;
  background-color: #0071e3;
  color: white;
  border: none;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-bottom: 36px;
}
.gol {
  display: flex;
  justify-content: center;
  align-items: end;
}
.btn-box {
  display: flex;
  gap: 12px;
}
@media screen and (min-width: 768px) {
  .gol {
    align-items: start;
  }
  .box {
    margin-top: 58px;
  }
  .iphone17 {
    background-image: url(./images/horizontal-iphone16.png);
  }
}

/* ================================================================ */
/* ================================================================ */
.iphone-blue {
  height: 500px;
  background-size: cover;
  background-image: url("./images/iphone-blue.jpg");
  background-position: center;
}
.box-blue {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-top: 36px;
}
.button {
  border-radius: 999px;
  padding: 8px 16px;
  background-color: #ffffff;
  color: black;
  border: none;
  height: 36px;
  font-family: "Inter", sans-serif;
}
.buy-white {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  width: 66px;
  height: 36px;
  border-radius: 999px;
  padding: 8px 20px;
  font-family: "Inter", sans-serif;
}
.gol-blue {
  display: flex;
  justify-content: center;
  align-items: start;
}
@media screen and (min-width: 768px) {
  .iphone-blue {
    background-image: url(./images/horizontal-iphoneBlue.jpg);
  }
}
/* =================================================================== */
/* =================================================================== */
.guraw {
  /* border: 1px solid red; */
  height: 144px;
  top: 36px;
}
.ipad-air {
  background-image: url("./images/ipad-air.jpg");
  height: 500px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.learn-button {
  height: 36px;
  border-radius: 999px;
  padding: 8px 16px;
  background-color: #0071e3;
  color: white;
  font-family: "Inter", sans-serif;
}
.buy-end {
  background-color: transparent;
  border: 1px solid #0071e3;
  color: #0071e3;
  width: 66px;
  height: 36px;
  border-radius: 999px;
  padding: 8px 20px;
  font-family: "Inter", sans-serif;
}
.two-sizes {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
}
.box-ipad {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 36px;
  gap: 12px;
}

.ipad-icon {
  width: 180px;
  height: 42px;
}
.solongo {
  background-image: linear-gradient(to right, #019ffb, #f55be4, #fd8c1f);
  background-clip: text;
  color: transparent;
  font-weight: 500;
  margin-top: 286px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .ipad-air {
    background-image: url(./images/ipad-ipad.jpg);
  }
}
